APP_PORT=8080

MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=semantic_discovery
MYSQL_USER=siroko_user
MYSQL_PASSWORD=siroko_pass
MYSQL_PORT=3306

DATABASE_URL="mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@mysql:${MYSQL_PORT}/${MYSQL_DATABASE}?serverVersion=8.0&charset=utf8mb4"

QDRANT_HTTP_PORT=6333
QDRANT_GRPC_PORT=6334
QDRANT_DSN=http://qdrant:6333

HUGGINGFACE_API_KEY=HUGGINGFACE_API_KEY

REDIS_DSN=redis://redis:6379
